<div class="row">
    <div class="col-xs-12 ">
        <h2 class="pull-left">Contacts</h2>
        <button class="btn btn-success pull-right" style="margin-top: 20px;" routerLink="new">New Contact</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-contact-item 
        *ngFor="let contactEl of contacts; let i = index;"
        [contact]="contactEl"
        [index]="i"
        (contactSelected)="onSelected(contactEl)"
        dnd-draggable
        [dragEnabled]="true"
        [dragData]="contactEl"
        [dropZones]="['contactGroup']" 
        ></app-contact-item>
    </div>
</div>
