<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am in the component</h3>
      <hr>
      <!-- <app-servers></app-servers> -->
      <!-- <div app-servers></div> -->
      <div class="app-servers"></div>
    </div>
    <div class="col-xs-12">
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>

    <!-- Data binding assignment -->
    <!-- <div class="col-xs-12">
      <h3>Data Binding Assignemnt</h3>
      <input type="text" class="form-control" [(ngModel)]="userName" >
      <p> {{userName}} </p>
      <button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">Reset Username</button>
    </div> -->

    <div class="col-xs-12">
      <h3>Practicing directives</h3>
      <button class="btn btn-primary" (click)="updateStatus()">Display Details</button>
      <p *ngIf="isClicked">Secret password = Tuna</p>
    </div>
  </div>
</div>
